footer {
  background: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}

.footer-logo {
  padding: 80px 0px 60px 0px;
  margin-left: 90px;
}

.footer-contato {
  padding: 80px 0px 60px 0px;
  margin-left: -40px;
  margin-top: -20px;
}

.footer-contato li {
  padding: 5px 0px;
}

.footer-contato li:nth-child(2) {
  padding-bottom: 15px;
  border-bottom: 2px solid #111111;
  margin-right: 150px;
}

.footer-contato li:nth-child(4) {
  padding-bottom: 15px;
  border-bottom: 2px solid #111111;
  margin-right: 150px;
}

.footer-contato .footer-txt {
  margin-left: -40px;
}

.footer-info {
  padding: 80px 0px 60px 0px;
  margin-left: -40px;
  margin-top: -20px;
}

.footer-info li {
  padding: 5px 0px;
}

.footer-info .footer-txt {
  margin-left: -40px;
}

.footer-txt a {
  color: #b2b2b2;
}

.footer-txt a:hover {
  color: #fff;
}

.footer span {
  padding: 50px 0px 60px 0px;
  margin-left: 90px;
}

.footer-redes a {
  padding: 20px;
  margin-left: -20px;
}
