.bicicletas {
  background: #fff;
  padding: 5px 0px 200px 0px;
}

.bicicletasconteudo {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas ul {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas h2 {
  padding-top: 130px;
}

.bicicletas h3 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0px -20px;
}

.bicicletas h3::before {
  content: "";
  display: inline-block;
  width: 4%;
  height: 8px;
  background: #ffbf00;
  margin-right: 8px;
}

.bicicletas a:hover h3:before {
  width: 6%;
  transition: 0.2s;
}

.bicicletas li span {
  font-weight: 500;
  margin-left: 30px;
}

.bicicletas img {
  display: block;
  height: 470px;
  object-fit: cover;
  object-position: right;
}

/* Responsivo */

@media (max-width: 1000px) {
  .bicicletas img {
    height: 320px;
  }
}

@media (max-width: 900px) {
  .bicicletasconteudo h2 {
    font-size: 50px;
  }

  .bicicletas h3 {
    font-size: 26px;
  }

  .bicicletaslistas ul {
    gap: 20px;
    overflow-x: scroll;
    margin-bottom: -100px;
  }
}

@media (max-width: 800px) {
  .bicicletasconteudo h2 {
    font-size: 40px;
    margin-top: -20px;
  }

  .bicicletas h3 {
    font-size: 24px;
  }

  .bicicletas li span {
    margin-left: 20px;
  }
}
