.intro-bg {
  max-width: 1500px;
  padding-bottom: 30px;
  position: relative;
  background: #000;
}

.intro-bg::before {
  content: "";
  width: 52px;
  height: 52px;
  background-image: url(img/dec/bottom-left.svg);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.introconteudo {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introimagem {
  margin-bottom: -150px;
}

.introimagem2 {
  display: none;
}

.introconteudo img {
  object-fit: cover;
}

.introconteudo h1 {
  margin-top: 135px;
}

.introconteudo p {
  margin-top: -20px;
  margin-bottom: 20px;
  display: flex;
}

.botao-amarelo:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

/* Responsivo */

@media (max-width: 1200px) {
  .introconteudo h1 {
    font-size: 48px;
    margin-top: 230px;
  }

  .introconteudo p {
    font-size: 18px;
  }

  .introconteudo img {
    margin-left: 0px;
  }
}

@media (max-width: 1100px) {
  .introconteudo h1 {
    margin-top: 130px;
  }
}

@media (max-width: 1000px) {
  .introconteudo {
    padding: 0px 0px 0px 20px;
  }

  .introconteudo img {
    margin-left: 24px;
  }

  .introconteudo h1 {
    font-size: 48px;
    margin-top: 40px;
  }

  .introconteudo p {
    font-size: 18px;
  }

  .introconteudo {
    padding-right: 50px;
  }

  .introimagem {
    margin-bottom: -170px;
  }

  .header-menu {
    margin-right: -45px;
  }
}

@media (max-width: 900px) {
  .introconteudo {
    gap: 0px 10px;
  }

  .introconteudo h1 {
    margin-top: -4px;
  }
}

@media (max-width: 800px) {
  .introconteudo {
    grid-template-columns: 1fr;
  }

  .intro-bg {
    background: #111;
  }

  .introconteudo {
    background: #111;
    margin-bottom: 150px;
  }

  .introconteudo h1 {
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .introconteudo p {
    font-size: 18px;
    margin-right: -30px;
  }

  .btm {
    margin-bottom: 30px;
    font-size: 16px;
    width: 130px;
  }

  .intro-bg::before {
    display: none;
  }

  .introimagem {
    display: none;
  }

  .introimagem2 {
    display: block;
    margin-top: 30px;
    margin-bottom: -250px;
    margin-left: -20px;
  }

  .introimagem2 img {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introconteudo h1 {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .introconteudo h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 30px;
  }
}
