.parceiros {
  background: #fff;
  padding: 5px 0px 100px 0px;
}

.parceirosconteudo {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.parceiros h2 {
  padding-top: 130px;
}

.parceiros-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: -115px;
  margin-right: -70px;
}

.parceiros-img li {
  display: flex;
  padding: 32px;
  border-left: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.parceiros-img li:first-child {
  border-left: none;
}

.parceiros-img li:nth-child(5) {
  border-left: none;
}

.parceiros-img li:nth-child(n + 5) {
  border-bottom: none;
}

.parceiros-img img {
  margin: auto;
}

/* RESPONSIVO */

@media (max-width: 1350px) {
  .parceiros-img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1270px) {
  .parceiros-img li {
    padding: 32px 0px;
  }

  .parceiros-img {
    margin-left: -40px;
  }

  .parceirosconteudo h2 {
    font-size: 48px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .parceiros-img img {
    width: 150px;
  }
}

@media (max-width: 870px) {
  .parceiros h2 {
    margin-top: -10px;
  }
}

@media (max-width: 800px) {
  .parceiros h2 {
    margin-top: -80px;
    font-size: 32px;
  }

  .parceiros-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -40px;
    margin-right: 0px;
    margin-bottom: -40px;
  }

  .parceiros-img img {
    width: 170px;
  }

  .parceiros-img li:nth-child(n + 5) {
    border-bottom: 2px solid #ededed;
  }

  .parceiros-img li:nth-child(3) {
    border-left: none;
  }

  .parceiros-img li:nth-child(7) {
    border-left: none;
  }

  .parceiros-img li:nth-child(n + 7) {
    border-bottom: none;
  }
}
