.seguros-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: -40px;
  padding-bottom: 60px;
  max-width: 1200px;
}

.seguro-prata {
  background: #000;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0px 30px 0px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.seguro-prata h3 {
  text-transform: uppercase;
  margin-left: 18px;
}

.seguro-prata span {
  grid-column: 2;
  margin-top: 35px;
  display: block;
}

.seguro-prata p {
  grid-column: 2;
  margin-top: -60px;
  text-align: right;
}

.seguro-prata li {
  grid-column: 1;
  margin-left: -50px;
  padding: 10px;
}

.seguro-prata ul {
  margin-top: -50px;
}

.seguro-prata a {
  grid-column: 1;
  margin-top: -20px;
  margin-left: 18px;
}

.seguro-prata a:hover {
  background: #404040;
}

.seguro-ouro {
  background: #000;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0px 30px 30px 40px;
}

.seguro-ouro span {
  grid-column: 2;
  margin-top: 35px;
  display: block;
}

.seguro-ouro p {
  grid-column: 2;
  margin-top: -80px;
  text-align: right;
}

.seguro-ouro li {
  grid-column: 1;
  margin-left: -50px;
  padding: 10px;
}

.seguro-ouro ul {
  margin-top: -50px;
  margin-bottom: 40px;
}

.seguro-ouro a {
  grid-column: 1;
  margin-top: -20px;
  margin-left: 18px;
}

.seguro-ouro a:hover {
  background: #f2a50c;
}

.seguro-ouro h3 {
  text-transform: uppercase;
  margin-bottom: 80px;
  margin-left: 18px;
}

/* Responsivo */

@media (max-width: 1200px) {
  .seguros {
    margin-left: -60px;
  }
}

@media (max-width: 960px) {
  .seguro-prata span,
  .seguro-ouro span {
    font-size: 34px;
  }

  .seguro-prata p {
    margin-top: -65px;
  }

  .seguro-ouro li {
    margin-left: -55px;
  }
}

@media (max-width: 800px) {
  .seguros h2 {
    font-size: 33px;
  }

  .seguros {
    margin-left: -60px;
    margin-right: 20px;
  }

  .seguros-conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .seguro-prata {
    padding: 60px 40px 40px 40px;
  }
  .seguro-prata h3 {
    font-size: 24px;
    margin-top: -40px;
  }

  .seguro-prata span,
  .seguro-ouro span {
    font-size: 24px;
  }

  .seguro-prata a {
    margin-top: 10px;
  }
  .seguro-ouro {
    padding: 0px 40px 40px 40px;
  }
  .seguro-ouro h3 {
    font-size: 24px;
  }
}
