.seguros-bg {
  background: #111;
}

.seguros {
  background: #111;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0px 0px 60px 0px;
  margin-left: 90px;
  box-sizing: border-box;
  max-width: 1200px;
}

.seguros-conteudo {
  display: flex;
  gap: 40px;
}

.seguro-prata {
  background: #000;
  padding: 0px 25px 20px 40px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.seguro-prata h3 {
  font-family: "Poppins";
  font-size: 36px;
  line-height: 48px;
  color: #9c9c9c;
  text-transform: uppercase;
}

.seguro-valor {
  display: block;
  grid-column: 2;
  text-align: right;
  margin-top: 32px;
  margin-left: 170px;
}

.seguro-prata .seguro-mensal {
  display: block;
  grid-column: 2;
  margin-left: 235px;
  margin-top: -40px;
}

.seguro-prata li {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 10px;
  margin-left: -48px;
  display: flex;
  align-items: center;
}

.seguro-prata li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(img/icones/lista.svg);
  position: absolute;
  left: 110px;
}

.seguro-prata a {
  grid-column: 1;
}
.seguro-prata a:hover {
  background: #404040;
}

.seguro-ouro {
  background: #000;
  padding: 0px 25px 20px 60px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguro-ouro h3 {
  font-family: "Poppins";
  font-size: 36px;
  line-height: 48px;
  color: #ffbf00;
  text-transform: uppercase;
}

.seguro-valor {
  display: block;
  grid-column: 2;
  text-align: right;
  margin-top: 32px;
  margin-left: 170px;
}

.seguro-mensal {
  display: block;
  grid-column: 2;
  margin-left: 244px;
  margin-top: -40px;
}

.seguro-ouro li {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 10px;
  margin-left: -48px;
  display: flex;
  align-items: center;
}

.seguro-ouro li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(img/icones/lista.svg);
  position: absolute;
  left: 715px;
}

.seguro-ouro a {
  grid-column: 1;
}
